.order-selectors {
	background: white;
}

.order-selectors__content {
	text-align: center;
}

.order-selectors__title {
	font-family: 'Encode Sans Condensed', sans-serif;
	margin-top: 0;
	padding: 10px 0 20px 0;
}
