//Colors
$dark-green: #015249;
$darker-grey: #525051;
$light-grey: #f5f5f5;
$dark-grey: #6b7a8f;
$light-blue: #77c9d4;
$blue: #4484ce;
$orange: #f19f4d;
$yellow: #f9cf00;
$light-yellow: #dbd7d0;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 0.1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
